<ion-header>
  <ion-navbar>
    <ion-title>
      AWACT Posts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <ion-item>
    <ion-avatar item-start>
      <img src="">
    </ion-avatar>
    <h2>{{awact.title}}</h2>
    <p>November 5, 2017</p>
    <p>{{awact.location}}</p>
  </ion-item>
  
  <ion-card>
    <ion-item *ngFor="let post of posts">
      <ion-col>
        <h2>{{post.title}}</h2>
      </ion-col>
      <ion-col>
        <p>{{post.description}}</p>
      </ion-col>
    </ion-item>
    
    <p *ngIf="posts.length === 0">
      No one has completed this AWACT yet!
    </p>


	</ion-card>

</ion-content>

